body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: powderblue;
   margin-top: 20px;
}

header {
    background-color: color ;
    color: black;
    text-align: center;
    padding: 10px;
   

}



h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 100px;
    color: black;
    font-size: 30px;
    border-style: double;
   
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    border-radius: 100px;
    color: palevioletred ;
    border-style: groove;
    border-color: black;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    border-radius: 100px;
    color: palevioletred;
    border-style: groove;
    border-color: black;
}



img {
    width: 300px;  
}


nav ul a:hover {
    list-style-type: none;
    padding: 0;
    color: white;
    
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    
}

section {
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
   
}



ul, ol {
    margin-left: 1px;
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 10px;
    border-color: black;
}

th, td {
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}

th {
    background-color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

td {
background-color: palevioletred;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    background-color:bisque;
    color: black;
    margin-top: 0px;
    font-size: 0.5em;
}

footer a {
    color: blue;
    text-decoration: blink;
    margin: 100px
}

footer a:hover {
    text-decoration: white;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 10px solid darkgrey;
    border-radius: 10px;
    width: 300px;
}

form button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 2px;
    border-radius: 20px;
    border-style: dotted;
}

